<%# OVERRIDE hyrax-doi to support dynamic metadata %>
<%# TODO: remove after hyrax-doi gem v0.2.0 and code is removed %>
<%# hyrax-doi doesn't work post hyrax v3.0.0 %>
<% if Hyrax.config.flexible? %>
  <% view_options_for(presenter).each do |field, options| %>
    <%= presenter.attribute_to_html(conform_field(field, options), conform_options(field, options)) %>
  <% end %>
<% else %>
  <%# Copied from hyrax-doi v0.2.0 %>

  <%= presenter.attribute_to_html(:alternative_title, html_dl: true) %>
  <% unless presenter.contributor.all?{|c| eval(c).values.all?(&:blank?) } %>
    <%= render "hyrax/base/contributor", presenter: presenter, section: "metadata" %>
  <% end %>
  <%= presenter.attribute_to_html(:ethos_institution, html_dl: true) %>
  <%= presenter.attribute_to_html(:org_unit, html_dl: true) %>
  <%= presenter.attribute_to_html(:funder_search, render_as: :faceted, label: 'Funder(s)', html_dl: true) %>
  <%= render "hyrax/base/language", presenter: presenter, section: "metadata" %>
  <%= presenter.attribute_to_html(:keyword, render_as: :faceted, html_dl: true) %>
  <%= presenter.attribute_to_html(:ethos_subject, render_as: :faceted, html_dl: true) %>
  <% unless presenter.dewey.all?(&:blank?) %>
    <%= render "hyrax/base/dewey", presenter: presenter, section: "metadata" %>
  <% end %>
  <%= presenter.attribute_to_html(:doi, html_dl: true) %>
  <% unless presenter.referenced_by.all?(&:blank?) %>
    <%= presenter.attribute_to_html(:referenced_by, render_as: :external_link, html_dl: true) %>
  <% else %>
    <div class="metadata-group">
      <dt>Access Thesis</dt>
      <dd>
        <ul class="tabular">
          <li class="attribute attribute-language">
            <span itemprop="inReferencedBy">
        EThOS does not have a link to a university copy of this thesis. If you would like to view this thesis, we recommend that you contact <%= presenter.ethos_institution.blank? ? "the university in question" : presenter.ethos_institution.first %>.
            </span>
          </li>
        </ul>
      </dd>
    </div>
  <% end %>
  <%= presenter.attribute_to_html(:ethos_identifier, html_dl: true) %>
  <%= presenter.attribute_to_html(:license, html_dl: true) %>
<% end %>
