<div class="metadata-group">
<dt>Author</dt>
<dd>
  <ul class="tabular">
  <% presenter.creator.each_with_index do | c, index | %>
    <% author = eval(c) %>
      <li class="attribute <%= section %>-creator <%= 'collapse' if index > 4 %>">
        <span itemprop="creator">
          <%= author['creator_family_name']%>, <%= author['creator_given_name'] %>
        </span>

        <span itemprop="creator">
          <% if author['creator_orcid'] || author['creator_isni'] %>
            <span>&nbsp;</span>
              <% if author['creator_orcid'].present? %>
                  <a href='<%= render_isni_or_orcid_url("#{author['creator_orcid']}", "orcid") %>' target="_blank"><%= image_tag 'orcid.png', class: "img-responsive", alt: 'ORCID', style: 'margin-bottom: 3px;', height: '16', width: '16' %></a>
              <% end %>

              <% if author['creator_orcid'] && author['creator_isni'] %>
                <span>&nbsp;</span>
              <% end %>

              <% if author['creator_isni'].present? %>
                <a href='<%= render_isni_or_orcid_url("#{author['creator_isni']}", "isni") %>' target="_blank"><%= image_tag 'isni.png', class: "img-responsive", alt: 'ISNI', style: 'margin-bottom: 3px;', height: '16', width: '26' %></a>
              <% end %>
              <span>&nbsp;</span>
          <% end %>
        </span>
      </li>
    <% end %>
  </ul>
</dd>
</div>
