<% embargo_date = presenter.embargo_date.first %>
<% unless embargo_date.blank? %>
  <% embargo_date_date = DateTime.parse(embargo_date) %>
  <% embargo_date = nil unless Date.tomorrow.before?(embargo_date_date) %>
<% end %>
<% access_rights = presenter.ethos_access_rights.first %>

<div class="ethos_work_title_sub">
  <dl>
  <%= render "hyrax/base/creator", presenter: presenter, section: "metadata" %>
  <%= presenter.attribute_to_html(:qualification_name, render_as: :faceted, html_dl: true) %>
  <%= presenter.attribute_to_html(:current_he_institution, render_as: :faceted, html_dl: true) %>
  <%= presenter.attribute_to_html(:date_issued, render_as: :faceted, html_dl: true) %>
  </dl>
  <% unless presenter.referenced_by.blank? || presenter.referenced_by.all?(&:blank?) %>
    <div class="show-actions">
      <%= link_to presenter.referenced_by.first do %>
        <button class="basic-button mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base ethos-button small">
          <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
          <span class="mdc-button__label">&nbsp; Access thesis from university &nbsp;</span>
        </button>
      <% end %>
  
      <% if access_rights.present? %>
        <br/>
        <div class="ethos-restrictions" style="width: 100%;">
          <div style="margin: auto; width: 100px;">
            <%= presenter.ethos_access_rights.first.titleize %>
          </div>
        </div>
      <% end %>

      <% if embargo_date.present? %>
        <br/>
        <div class="ethos-restrictions" style="width: 100%;">
          <div style="margin: auto; width: 250px">
            Embargoed until <%= embargo_date_date.strftime("%d %B %Y") %> 
          </div>
        </div>
      <% end %>

    </div>
  <% end %>
</div>
